{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}


<body>
    <h3>Acerca de mi</h3>
    <p>Mi nombre es Agustin Perez, tengo 18 años y soy argentino. Decidi empezar el curso de Coder debido a que pense que me iba a ayudar a entender temas para materias de programacion en la facultad y asi fue :D</p>

<hr>

<p><small>El proyecto consta de una pagina "parecida" a la de una empresa cualquiera. Este programa sirve para la creacion y busqueda de Equipos de trabajo, gerentes y empleados en una base de datos. La funcion de create, ya sea de equipos, empleados o gerentes  solo va a poder ser realizadas por personas que constan con un log in. Nota: las funcionalidades se encuentran en la barra de navegación que está en la parte superior de la página.
</small></p>

{% endblock %}