{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
    <title>Equipo List</title>
</head>
<body>
    <h1>Equipo de trabajo de ESCO</h1>
    <ul>
        {% for equipo in object_list %}
        <li>
            <p>NOMBRE: {{equipo.nombre}}</p>
            <p>
                <a href = "{% url 'equipoDetail' equipo.id %}">Ver</a>
                <a href = "{% url 'equipoEdit' equipo.id %}">Editar</a>
                <a href = "{% url 'equipoDelete' equipo.id %}">Borrar</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}